.site-background {
  background-image: url("/images/stars.jpg");
  font-family: monospace;
}

.header {
  font-size: 300%;
  margin-left: 30%;
  margin-top: 20%;
  color: #5f91ff;
}

ul {
  list-style-type: none;
  margin-left: 27.75%;
}

li {
  float: left;
  padding-right: 20px;
  padding-left: 20px;
}

li a {
  background-color: #9FA0C3;
  border-bottom: 1px solid #5f91ff;
  color: black;
  font-size: 120%;
  font-style: italic;
  padding: 24px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: #89C8D2;
  cursor: pointer;
}

.background {
  background-color: #89C8D2;
  margin-left: 29.75%;
  margin-right: 43%;
  margin-top: 7%;
  padding: 20px;
}

.image-hide {
  display: none;
}

.image-show {
  display: block;
  width: 650px;
}

.about-hide {
  display: none;
}

.about-show {
  display: block;
}

.bucket-list {
  background-color: #9FA0C3;
  border-bottom: 2px solid #5f91ff;
  margin-left: 30%;
  margin-right: 60%;
  margin-top: 5%;
  height: 500px;
  padding: 20px;
}

.list-header {
  color: black;
  font-size: 120%;
  font-style: italic;
}


